<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Hi Carrie, this is your server</h1>
  
  

  <% positions.forEach(position => { %> 
    
    <div 
    style= "
      /* position: absolute; */
      background-color: #7E5BFF;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      margin-left: <%= position.left %>px;
      margin-top: <%= position.top %>px;
      "
      ></div>
  
  <% })%>
  

  


</body>
</html>