<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body style="
    display: block;
    justify-content: center;
    padding: auto;
    padding-top: 20px;
    background-color: whitesmoke;

">
  <h1 style="
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
  ">Your MagneDraw Masterpiece</h1>

    
<div style="

  margin: auto;
  padding:8vmin;
  height: 700px;
  width: 600px;
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  text-align:center;
  
  ">
    <div style="
      background-color: white;
      border: solid;
      border-color: lightgrey;
      height: 500px;
      width: 360px;
      padding: auto;
      margin: auto;
      display: grid;
      grid-template-rows: repeat(500, 1fr);
      grid-template-columns: repeat(360, 1fr); 
    ">
    <div style=" 
    background-color: paleturquoise;
    width: 180px;
    height: 500px;
    grid-area: 1/180/500/360;
    ">

      <% positions.forEach(position => { if(position.top < 500 && position.left < 181 ) { %> 
        <div 
        style= "
          position: absolute;
          margin-left: <%= position.left %>px;
          margin-top:  <%= position.top %>px;
          background-color: #7E5BFF;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          "
          ></div>   
      <% }})%> 
    </div>
    


  </div>

  </div>

</body>
</html>